PORT=5000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pharmacy_erp?schema=public"
NODE_ENV="development"
# Path to service account json file if using service account, or firebase project id
FIREBASE_PROJECT_ID="adgen-pharmacy"
